In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ERROR! Session/line number was not unique in database. History logging moved to new session 85

In [37]:
import prophet
from prophet import Prophet

ModuleNotFoundError: No module named 'prophet'

In [7]:
!pip install pystan==2.18.0.0
!pip install fbprophet
from fbprophet import Prophet

    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Antoi\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-7eux5gsg\\pystan\\setup.py'"'"'; __file__='"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-7eux5gsg\\pystan\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base 'C:\Users\Antoi\AppData\Local\Temp\pip-pip-egg-info-ucdfa2ke'
         cwd: C:\Users\Antoi\AppData\Local\Temp\pip-install-7eux5gsg\pystan\
    Complete output (5 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\Antoi\AppData\Local\Temp\pip-install-7eux5gsg\pystan\setup.py", line 124, in <module>
        logger.warning("MSVC is not supported")
    NameError: name 'logger' is not defined
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

Collecting pystan==2.18.0.0
  Downloading pystan-2.18.0.0.tar.gz (17.5 MB)
Collecting fbprophet
  Using cached fbprophet-0.7.1.tar.gz (64 kB)
Requirement already satisfied: Cython>=0.22 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (0.29.21)
Requirement already satisfied: cmdstanpy==0.9.5 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pystan>=2.14 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (1.19.5)
Requirement already satisfied: pandas>=1.0.4 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (1.0.5)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (2.3.2)
Requirement already satisfied: holidays>=0.10.2 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (0.11.3.1)
Requirement already satisfied: setuptools-git>=1.2 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (2.8.1)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\antoi\anaconda3\lib\site-packages (from fbprophet) (4.47.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\antoi\anaconda3\lib\site-packages (from pandas>=1.0.4->fbprophet) (2020.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\antoi\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\antoi\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\antoi\anaconda3\lib\site-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)
Requirement already satisfied: ephem>=3.7.5.3 in c:\users\antoi\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->fbprophet) (4.1)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in c:\users\antoi\anaconda3\lib\site-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: korean-lunar-calendar in c:\users\antoi\anaconda3\lib\site-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: hijri-converter in c:\users\antoi\anaconda3\lib\site-packages (from holidays>=0.10.2->fbprophet) (2.2.2)
Requirement already satisfied: six>=1.5 in c:\users\antoi\anaconda3\lib\site-packages (from python-dateutil>=2.8.0->fbprophet) (1.15.0)
Building wheels for collected packages: fbprophet
  Building wheel for fbprophet (setup.py): started
  Building wheel for fbprophet (setup.py): finished with status 'error'
  Running setup.py clean for fbprophet
Failed to build fbprophet
Installing collected packages: fbprophet
    Running setup.py install for fbprophet: started
    Running setup.py install for fbprophet: finished with status 'error'

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\Antoi\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"'; __file__='"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\Antoi\AppData\Local\Temp\pip-wheel-d9iqyw4_'
       cwd: C:\Users\Antoi\AppData\Local\Temp\pip-install-emla896i\fbprophet\
  Complete output (10 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib
  creating build\lib\fbprophet
  creating build\lib\fbprophet\stan_model
  INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_f5236004a3fd5b8429270d00efcc0cf9 NOW.
  WARNING:pystan:MSVC compiler is not supported
  error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/
  ----------------------------------------
  ERROR: Failed building wheel for fbprophet
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\Antoi\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"'; __file__='"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Antoi\AppData\Local\Temp\pip-record-q2yxmpfd\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Antoi\anaconda3\Include\fbprophet'
         cwd: C:\Users\Antoi\AppData\Local\Temp\pip-install-emla896i\fbprophet\
    Complete output (10 lines):
    running install
    running build
    running build_py
    creating build
    creating build\lib
    creating build\lib\fbprophet
    creating build\lib\fbprophet\stan_model
    INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_f5236004a3fd5b8429270d00efcc0cf9 NOW.
    WARNING:pystan:MSVC compiler is not supported
    error: Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\Antoi\anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"'; __file__='"'"'C:\\Users\\Antoi\\AppData\\Local\\Temp\\pip-install-emla896i\\fbprophet\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\Antoi\AppData\Local\Temp\pip-record-q2yxmpfd\install-record.txt' --single-version-externally-managed --compile --install-headers 'C:\Users\Antoi\anaconda3\Include\fbprophet' Check the logs for full command output.

ModuleNotFoundError: No module named 'fbprophet'

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/conda-forge/win-64/repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
'https://conda.anaconda.org/conda-forge/win-64'

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... failed

CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/conda-forge/win-64/repodata.json>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
'https://conda.anaconda.org/conda-forge/win-64'

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... failed

In [19]:
df = pd.read_csv('online_retail_II.csv', delimiter = ";")
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,01/12/2009 07:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,01/12/2009 07:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,01/12/2009 07:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,01/12/2009 07:45,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,01/12/2009 07:45,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1044889,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09/12/2011 12:50,2.10,12680.0,France
1044890,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09/12/2011 12:50,4.15,12680.0,France
1044891,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09/12/2011 12:50,4.15,12680.0,France
1044892,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09/12/2011 12:50,4.95,12680.0,France
1044893,581587,POST,POSTAGE,1,09/12/2011 12:50,18.00,12680.0,France

In [20]:
df = df[df['Country'] == 'United Kingdom']
df['InvoiceDate'] = df['InvoiceDate'].str.slice(0, 10)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df

<ipython-input-20-f256c5514e60>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['InvoiceDate'] = df['InvoiceDate'].str.slice(0, 10)
<ipython-input-20-f256c5514e60>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-01-12,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-01-12,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-01-12,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-01-12,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-01-12,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1044873,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-09-12,1.95,15804.0,United Kingdom
1044874,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-09-12,2.95,13113.0,United Kingdom
1044875,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-09-12,1.25,13113.0,United Kingdom
1044876,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-09-12,8.95,13113.0,United Kingdom
1044877,581586,20685,DOORMAT RED RETROSPOT,10,2011-09-12,7.08,13113.0,United Kingdom

In [23]:
df = df.groupby(['StockCode', 'InvoiceDate']).Quantity.sum().reset_index()
df

           StockCode InvoiceDate  Quantity
0              10002  2009-01-12        12
1              10002  2009-03-12         7
2              10002  2009-04-12        25
3              10002  2009-06-12         1
4              10002  2009-07-12         2
...              ...         ...       ...
514954  gift_0001_90  2010-09-08        10
514955             m  2010-02-19         2
514956             m  2010-04-13         1
514957             m  2010-08-06         1
514958             m  2010-12-21         1

[514959 rows x 3 columns]

In [26]:
df1 = df.groupby('StockCode').resample('W-Mon', on='InvoiceDate').sum().reset_index().sort_values(by='InvoiceDate')
df1

       StockCode InvoiceDate  Quantity
0          10002  2009-01-12        12
378507     84622  2009-01-12         2
180502     22218  2009-01-12         4
54292      21055  2009-01-12         1
379753     84648  2009-01-12         1
...          ...         ...       ...
3944      15058B  2011-12-12         2
269025     23265  2011-12-12        36
76551      21264  2011-12-12        12
240140     22801  2011-12-12        69
295123    35916B  2011-12-12         8

[496460 rows x 3 columns]

In [27]:
df2 = df1.pivot(index='InvoiceDate', columns='StockCode', values='Quantity')
df2

StockCode,10002,10002R,10080,10109,10120,10123C,10123G,10124A,10124C,10124G,...,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,gift_0001_60,gift_0001_70,gift_0001_80,gift_0001_90,m
InvoiceDate,,,,,,,,,,,,,,,,,,,,,
2009-01-12,12.0,NaN,NaN,NaN,60.0,3.0,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-19,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-26,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-02-02,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-02-09,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-11-14,NaN,NaN,36.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11-21,NaN,NaN,31.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-11-28,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-05,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df3 = df1[df1['StockCode'] == "22069"]
df3.drop('StockCode', axis = 1)
df3

       StockCode InvoiceDate  Quantity
159638     22069  2009-01-12        15
159639     22069  2009-01-19         0
159640     22069  2009-01-26         0
159641     22069  2009-02-02         0
159642     22069  2009-02-09         0
...          ...         ...       ...
159786     22069  2011-11-14        21
159787     22069  2011-11-21        17
159788     22069  2011-11-28        18
159789     22069  2011-12-05         5
159790     22069  2011-12-12         1

[153 rows x 3 columns]

In [ ]:
m = Prophet()
m.fit(df3)

In [ ]:
future = m.make_future_dataframe(periods=365)
future.tail()

In [ ]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [ ]:
fig1 = m.plot(forecast)

In [ ]:
fig2 = m.plot_components(forecast)